/* ==========================================================================
    Main Styles for Score, a simple web app by Sean Rice
    Github: http://github.com/seanriceaz
   ========================================================================== */
//colors

$orange: #FF8B00;
$droid-bg: #F7F1EB;
$droid-seams: #605D5A;
$droid-openings: #93908C;

*{box-sizing:border-box}

body{
	margin:0;
	padding:0;
	font-family: helvetica, arial, sans-serif;
	font-size:16px;
	height:100%;
}

.intro{
	position:absolute;
	top:5%;
	left:5%;
	right:5%;
	z-index:100;
	text-align:center;

	button, a{
		transition:all .2s ease-in-out;
		display:inline-block;
		margin:0 auto;
		vertical-align:middle;
		width:49%;
		max-width:200px;
		background:$orange;
		color:white;
		font-size:inherit;
		padding:15px 10px;
		border:none;
		text-decoration:none;
		&:hover{
			opacity:.9;
			cursor:pointer;
		}
	}
	a{
		background:rgba(0,0,0,.2);
		&:hover{
			text-decoration:underline;
		}
	}
}

h1{
	color:white;
}

.modal{
	position:absolute;

	display:none;
}

//Making bb-8 move
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shiftbody {
  0% {
    top:-100%;
		left:-100%;
  }
  50% {
		top:-20%;
		left:-20%;
  }
	100%{
		top:-100%;
		left:-100%;
	}
}

@keyframes rockdroid {
  0% {
    transform: rotate(-10deg);
  }
  50% {
		transform: rotate(-15deg);
  }
	100%{
	transform: rotate(-10deg);
	}
}
@keyframes rockhead {
  0% {
    transform: rotate(-2deg);
  }
  50% {
		transform: rotate(-2deg);
  }
	100%{
	transform: rotate(-2deg);
	}
}

.droid{
	position:fixed;
	bottom:30%;
	left:50%;
	animation-name:             rockdroid;
	animation-duration:         2s;
	animation-iteration-count:  infinite;
	animation-timing-function: 	ease-in-out;
}

.droid-head{
	width:130px;
	height:75px;
	position:absolute;
	z-index:2;
	top:0;
	left:50%;
	margin-left:-65px;
	margin-top:-170px;
	border-radius: 65px 65px 5px 5px;
	background: $droid-bg;
	overflow:hidden;
	border:1px solid $droid-seams;
	animation-name:             rockhead;
	animation-duration:         .1s;
	animation-iteration-count:  infinite;
	animation-timing-function: 	linear;
	svg{
		position:absolute;
		top:0;
		left:0;
		width:100%;
	}
}

.droid-body
{
	//animation stuff
  animation-name:             rotate;
  animation-duration:         1s;
  animation-iteration-count:  infinite;
  animation-timing-function: linear;
	background:$droid-bg;
	border:1px solid $droid-seams;
	width:200px;
	height:200px;
	border-radius:9999px;
	overflow:hidden;
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-100px;
	margin-bottom:-100px;
	svg{
		//animation stuff
	    animation-name:             shiftbody;
	    animation-duration:         10s;
	    animation-iteration-count:  infinite;
	    animation-timing-function: ease-in-out;
		position:absolute;
		width:350%;
	}
}
.droid-shadow-head{
	position:absolute;
	width:200px;
	height:200px;
	border-radius:1000px;
	overflow:hidden;
	bottom:50%;
	margin-bottom:-100px;
	left:50%;
	margin-left:-100px;
	svg{
		top:0;
		width:100%;
	}
}
.droid-shadow-ball{
	position:absolute;
	width:200px;
	height:200px;
	border-radius:1000px;
	overflow:hidden;
	bottom:30%;
	margin-bottom:-100px;
	left:50%;
	margin-left:-100px;
	svg{
		top:0;
		width:100%;
	}
}
.sky{
	//sky
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 13%, #f2eee1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(13%,#2989d8), color-stop(100%,#f2eee1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 13%,#f2eee1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1e5799 0%,#2989d8 13%,#f2eee1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 13%,#f2eee1 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1e5799 0%,#2989d8 13%,#f2eee1 100%); /* W3C */
}
.ground{
	position:fixed;
	top:55%;
	bottom:0;
	left:0;
	right:0;
	background: #f7f6e3; /* Old browsers */
background: -moz-linear-gradient(top, #f7f6e3 0%, #c6b27b 30%, #e8d5a2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f6e3), color-stop(30%,#c6b27b), color-stop(100%,#e8d5a2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #f7f6e3 0%,#c6b27b 30%,#e8d5a2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #f7f6e3 0%,#c6b27b 30%,#e8d5a2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #f7f6e3 0%,#c6b27b 30%,#e8d5a2 100%); /* IE10+ */
background: linear-gradient(to bottom, #f7f6e3 0%,#c6b27b 30%,#e8d5a2 100%); /* W3C */
}
.droid-groundshadow{
	position:fixed;
	bottom:5%;
	z-index:1;
}
//colors
.droid-body-color{fill:$droid-bg}
.droid-accent-color{fill:$orange}
.droid-darkgray{fill:$droid-seams}
.droid-lightgray{fill:$droid-openings}
.droid-accent-bordered{fill:$orange;stroke:$droid-seams;stroke-miterlimit:10;}
.thickstroke{fill:none;stroke:#000000;stroke-width:4;stroke-miterlimit:10;}
.highlight{fill:#FFFFFF;}
.lightshadow{fill: rgba(0,0,0,.25)}
.darkshadow{fill: rgba(0,0,0,.5)}
//explosion
.explosionContainer{
	position:absolute;
	z-index:10;
	text-align:0;
	top:0;
	left:0;
	right:0;
	bottom:0;
	text-align:center;
	img{
		height:100%;
	}
}
//modal
.modal{
	position:absolute;
	text-align:center;
	top:10%;
	left:50%;
	margin-left:-200px;
	width:400px;

	background:rgba(255,255,255,.9);
	padding:10px;
	a{
		transition:all .2s ease-in-out;
		display:block;
		background:$orange;
		color:white;
		font-size:inherit;
		padding:15px 10px;
		border:none;
		text-decoration:none;
		&:hover{
			opacity:.9;
			cursor:pointer;
		}
	}
	a + a{
		background:rgba(0,0,0,.5);
		&:hover{

		}
	}
}
//licenses
.licenses{
	position:absolute;
	bottom:0;
	font-size:10px;
	color:white;
	text-align:center;
	a{
		color:white;
	}
}

//Media queries
@media (max-width: 600px) {
  .modal{
		width:90%;
		margin:0;
		left:5%;
	}
	h1{ font-size:20px;}
	h2{
		font-size:16px;
	}

}
