/* ==========================================================================
    Main Styles for Score, a simple web app by Sean Rice
    Github: http://github.com/seanriceaz
   ========================================================================== */
*{box-sizing:border-box}

body{
	margin:0;
	padding:0;
	font-family: helvetica, arial, sans-serif;
}
